.sc-dMnqAs .jtLlGN {
  padding: 0px !important;
  flex: none !important;
  min-width: 0px !important;
}

.sc-dMnqAs .jtLlGN svg {
  width: 15px !important;
  height: 15px !important;
}


/* MyDataTable.css (or any CSS file of your choice) */
@media (min-width: 1280px) and (max-width: 1550px) {
  .custom-column-width {
    width: 100px;
  }
}
