@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    font-family: 'Roboto';
    letter-spacing: 0.02rem;
  }
  
  html {
    height: -webkit-fill-available;
  }

  @layer components {
    .rot {
        transform: rotate(240deg);
    }
    .tcolor{
        background-color: #D8E4EE;
    }
    .rcolor{
        background-color:#FFFFFF;
    }
    .fbody{
        background-color: #F5F7F9;
    }
  }