/* .hzejPW{
  padding: 0px !important;
  flex: none  !important;
  min-width: 0px !important;
}
.hzejPW svg{
  width: 15px !important;
  height: 15px !important;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    font-family: 'Roboto';
    letter-spacing: 0.02rem;
  }
  
  html {
    height: -webkit-fill-available;
  }

  @layer components {
    .scroll{
      overflow: auto;
      direction: rtl;
    }
    .rot {
        transform: rotate(240deg);
    }
    .tcolor{
        background-color: #D8E4EE;
    }
    .rcolor{
        background-color:#FFFFFF;
    }
    .fbody{
        background-color: #F5F7F9;
    }
  }
  .rdt__expandable-icon {
    width: 5px; /* Adjust as needed */
    height: 5px; /* Adjust as needed */

}
/* .hzejPW{
  padding: 0px !important;
  flex: none  !important;
  min-width: 0px !important;
}
.hzejPW svg{
  width: 15px !important;
  height: 15px !important;
} */

/* Styles for the entire scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Adjust scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #F5F7F9;
  border-radius: 5px;
}

/* Styles for the handle or "thumb" */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #D8E4EE;
  border-radius: 5px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #D8E4EE;
}


.custom-scrollbar-page::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
}

.custom-scrollbar-page::-webkit-scrollbar-track {
  background: #cad4d4;
  border-radius: 10px;
}

/* Styles for the handle or "thumb" */
.custom-scrollbar-page::-webkit-scrollbar-thumb {
  background: #85c0f0;
  border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar-page::-webkit-scrollbar-thumb:hover {
  background: #66aee9;
}


.dataTable-ticket-page {
    border-bottom: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}
  

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #0E76BB;
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #5495eb;
}